<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User name" name="username" [(ngModel)]="credentials.username" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" name="email" type="email" [(ngModel)]="credentials.email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" name="phone" [(ngModel)]="credentials.phone">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="password" type="password" [(ngModel)]="credentials.password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Culture</mat-label>
        <mat-select name="culture" [(ngModel)]="credentials.culture">
          <mat-option *ngFor="let culture of cultures" [value]="culture.code">
            {{culture.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
  </mat-card-actions>
</mat-card>
